version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      # Group for minor and patch updates for all packages
      safe-updates:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"